@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

:root {
	--font-title: 'Karla', sans-serif;
	--font-heading: Roboto, sans-serif;
	--font-misc: Roboto, monospace;

	--font-xs: 10px;
	--font-s: 12px;
	--font-m: 14px;
	--font-l: 16px;
	--font-xl: 18px;
	--font-huge: 46px;
	

	--color-bg: #FFFFFF;
	--color-border: #1B1B1B;
	--color-disabled: #F2F4D1;
	--color-enabled: #B2D3BE;
	--color-request: #89A3B2;
	--color-text-primary: #1B1B1B;
	--color-text-secondary: #5E6073;


	--radius-large: 14px;
	--radius-small: 7px;

	font-family: var(--font-title);
	color: var(--color-text-primary);
}

* {
    -webkit-tap-highlight-color: transparent;
}